extends layout

block script
  script(src='/javascripts/console.js')
block content
  div.bs
    button.btn.btn-primary(onclick="javascript:onInit();") 初始化

  div.bs
    button.btn.btn-primary(onclick="javascript:onDqx(1);") 航海时代①
    button.btn.btn-primary(onclick="javascript:onDqx(2);") 航海时代②

  div.bs
    button.btn.btn-primary(onclick="javascript:onGY(1);") 工艺①

    button.btn.btn-primary(onclick="javascript:onGY(2);") 工艺②

    button.btn.btn-primary(onclick="javascript:onGY(3);") 工艺③

    button.btn.btn-primary(onclick="javascript:onGY(4);") 工艺④

    button.btn.btn-primary(onclick="javascript:onGY(5);") 工艺⑤

  div.bs
    button.btn.btn-primary(onclick="javascript:onPtt(1);") 葡萄藤①

    button.btn.btn-primary(onclick="javascript:onPtt(2);") 葡萄藤②

    button.btn.btn-primary(onclick="javascript:onPtt(3);") 葡萄藤③

    button.btn.btn-primary(onclick="javascript:onPtt(4);") 葡萄藤④

    button.btn.btn-primary(onclick="javascript:onPtt(5);") 葡萄藤⑤